html,
body {
  margin: 0px;
  font-family: sans-serif;
}

.content {
  display: grid;
  grid-template-areas:
    "todo todo"
    "tobecompleted completed";
  row-gap: 1em;
  column-gap: 10em;
  margin-top: 2em;
  justify-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

#addTaskButton,
button {
  background-color: lightgrey;
  border-radius: 20px;
  border: 1px solid lightgrey;
  width: 3em;
  height: 2em;
}

#typeNewTask {
  width: 15em;
  height: 2em;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

#taskList {
  margin-top: 1em;
  position: relative;
  text-align: left;
}

#completedTasks {
  margin-top: 1em;
  text-decoration: line-through;
}

.taskItem {
  display: flex;
  justify-content: flex-start;
}

.taskItem, button {
    margin-left: 0.5em;
}

.todo {
  grid-area: todo;
}

.tobecompleted {
  grid-area: tobecompleted;
}

.completed {
  grid-area: completed;
}
