html,
body {
  margin: 0px;
  font-family: sans-serif;
}

.content {
  margin-top: 2em;
  justify-items: center;
}

h1 {
  text-align: left;
}

#addTaskButton,
button {
  background-color: lightgrey;
  border-radius: 20px;
  border: 1px solid lightgrey;
  width: 3em;
  height: 2em;
}

#typeNewTask {
  width: 15em;
  height: 2em;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

#taskList {
  position: relative;
  text-align: left;
}

#completedTasks {
  margin-top: 0.5em;
  text-decoration: line-through;
}

.taskItem {
  display: flex;
  justify-content: flex-start;
}
